@page
@model RazorSecond.Pages.Medicines.DeleteModel

@{
    ViewData["Title"] = "药品信息";
}

<h1>删除</h1>

<h3>确定要删除这条数据吗?</h3>
<div>
    @* <h4>Stuff</h4> *@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.LeftMonths)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.LeftMonths)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Factory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Factory)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Medicine.ID" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-page="./Index">返回列表</a>
    </form>
</div>
