@page "{id:int}"
@model RazorSecond.Pages.Stuffs.DeleteModel

@{
    ViewData["Title"] = "员工信息";
}

<h1>删除</h1>

<h3>确定要删除这条数据吗?</h3>
<div>
    @* <h4>Stuff</h4> *@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stuff.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stuff.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stuff.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stuff.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stuff.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stuff.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stuff.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stuff.Department)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Stuff.ID" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-page="./Index">返回列表</a>
    </form>
</div>
